.review {
  color: $black-color;
  .opinion {
  }
  .ellipse {
    width: 81.51px;
    height: 85px;
  }
  .Introduce {
    display: flex;
    justify-content: flex-start;
    .name {
    }
    .job {
    }
  }
}
